aiofiles==0.4.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
httptools==0.0.13
idna==2.8
multidict==4.5.2
pdfkit==0.6.1
pika==1.0.1
pyspark==2.2.0
requests==2.22.0
sanic==20.12.6
soupsieve==1.9.1
ujson==1.35
urllib3==1.25.3
uvloop==0.12.2
websockets==6.0
